.listcard
{
    width: 272px !important;
}

.small-button
{
    width: 10px !important;
    height: 10px !important;
}

.inv:hover
{
    cursor: pointer !important;
}

.inv:not(:focus)
{
    background : none !important;
    border : none !important;
}